<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stx.ThreeSixtyfyer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Stx.UltraDimension.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Stx.ThreeSixtyfyer.Properties.Settings>
            <setting name="RememberPathPack" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberPathBulk" serializeAs="String">
                <value />
            </setting>
            <setting name="LastGeneratedMusicPackPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberPathExport" serializeAs="String">
                <value />
            </setting>
        </Stx.ThreeSixtyfyer.Properties.Settings>
        <Stx.UltraDimension.Properties.Settings>
            <setting name="RememberPath" serializeAs="String">
                <value />
            </setting>
        </Stx.UltraDimension.Properties.Settings>
    </userSettings>
</configuration>